# =========================
# Build output (CMake)
# =========================
out/
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Testing/

# =========================
# Visual Studio / MSVC
# =========================
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.vcxproj.*
*.user
*.aps
*.pch
*.pdb
*.idb
*.ilk
*.obj
*.tlog
*.log

# =========================
# Compiled binaries
# =========================
*.exe
*.dll
*.lib
*.a
*.so
*.dylib

# =========================
# Debug / runtime files
# =========================
*.stackdump
*.dmp

# =========================
# OS junk
# =========================
Thumbs.db
Desktop.ini

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/
*.swp
*.swo
*.tmp

# =========================
# Sciplot stuff
# =========================
/multishow0.plt
